@{ 
    ViewBag.Title = "Home Page";
}

<h3>Place Holder</h3>
<p> Place holder paragraph</p>

<form>
    <div>
        <label>Project Name:</label>
        <input />
    </div>
    <div>
        <label>Estimation:</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>